# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/
*.egg-info/

# Environment & Secrets
.env
.env.local
.env.production
*.key

# VS Code
.vscode/

# Database
*.db
*.sqlite3

# Node / React
node_modules/
.next/
dist/
build/

# OS files
.DS_Store
Thumbs.db